/* Secciones html */
body{
    background-color: #F3F3F3;
}
header{
    background-color: #060606;
}
footer{
    background-color: #060606;
    color: white;
}
/* / Secciones html */
/* Imagenes */
header img{
    max-width: 20vh;
    border-radius: 50%;
    margin: 5px;
}
/* / Imagenes */

/* Enlaces */
header div a{
    padding: 10px;
    text-decoration: none;
    color: white;
    font-size: 20px;
    letter-spacing: 2px;
    font-family: "Century Gothic";
    }
header div a:hover{
    color: white;
}
/* / Enlaces */

/* Estilos opcionales */
.floatleft{float: left;}
.borde{border-style: solid;}
.borde_rojo{border-style: solid; border-color: red;}
.row{
    /* border-style: solid; */
}
.row div{
    /* border-style: solid;
    border-color:red; */
}
/* / Estilos opcionales */