/* Secciones html */
body{
    background-color: #F1F4FF;
}
header{
    background-color: #171718;
}
/* / Secciones html */

/* Enlaces Header*/
header div a{
    padding: 10px;
    text-decoration: none;
    color: white;
    font-size: 20px;
    letter-spacing: 2px;
    font-family: "Century Gothic";
    }
header div a:hover{
    color: white;
}
/* / Enlaces Header */

/* Imagenes Header */
header img{
    max-width: 18vh;
    border-radius: 50%;
    margin: 5px;
}
/* / Imagenes Header*/

/* Imagenes Logos Index */
#Conocimientos img{
    max-height: 22vh;
    margin: 1vh;
    border-style: groove;
    border: aqua;
}
/* /Imagenes Logos Index */


/* Texto */
li{
    font-size: 17px;
    margin-left: 20px;
}
/* /Texto */


/* Cartas */
#carta{
    background-color: #232323;
    color: white;
    display: flex; 
    flex-direction: column; 
    margin-bottom: 20px;
    margin-left: 0px;
}
.card img{
    max-height: 20vh;
    object-fit: none;
}
.btn{
    background-color: #FF2D23;
}
/* / Cartas */

/* Estilos propios fijos Raúl Acosta */
/* https://twitter.com/raul_acosta95 */
/* Mi FOOTER */
footer{
    background-color: rgb(4, 2, 17);
    color: white;
    bottom: 0;
    position: fixed;
    width: 100%;
}
footer img{
	margin-left: 30px;
	margin-top: 15px;
}
/* /MI FOOTER */

/* Clases opcionales */
.floatleft{
    float: left;
}
.borderojo{
    border-style: solid;
    border-color: red;
}
/* /Clases opcionales */